.main {
  height: 90vh;
  position: relative;
}

/* .sectionHeading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  color: #f40e00;
  font-size: 25px;
  font-weight: 600;
} */

.mask,
.textBody {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #909090;
  font-size: 43px;
  line-height: 66px;
  cursor: default;
}

.main p {
  width: 1270px;
  line-height: 57px;
  text-align: center;
  /* color: #909090; */
  /* // padding: 40px; */
}

.mask {
  -webkit-mask-image: url("/mask.svg");
  mask-image: url("/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #f40e00;
  position: absolute;
  color: #fff;
}

@media (max-width: 600px) {
  .main {
    height: 115vh;
    position: relative;
  }
  .mask,
  .textBody {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #909090;
    font-size: 23px;
    line-height: 66px;
    cursor: default;
  }
  .sectionHeading {
    position: absolute;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translateX(-50%);
    top: 100px;
    color: #f40e00;
    font-size: 23px;
    font-weight: 600;
  }
  .main p {
    line-height: 34px;
    text-align: center;
    width: 90%;
    /* color: #909090; */
    /* // padding: 40px; */
  }
}
