.main {
  height: 80vh;
  position: relative;
}

.mask,
.textBody {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #909090;
  font-size: 43px;
  line-height: 66px;
  cursor: default;
}

.main p {
  width: 1270px;
  padding: 0 20px;
  line-height: 57px;
  text-align: center;
}

.mask {
  -webkit-mask-image: url("/mask.svg");
  mask-image: url("/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #f40e00;
  position: absolute;
  color: #fff;
}

@media (max-width: 600px) {
  .main {
    height: 115vh;
    position: relative;
  }
  .mask,
  .textBody {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #909090;
    font-size: 23px;
    line-height: 66px;
    cursor: default;
  }
  .sectionHeading {
    position: absolute;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translateX(-50%);
    top: 100px;
    color: #f40e00;
    font-size: 23px;
    font-weight: 600;
  }
  .main p {
    line-height: 34px;
    text-align: center;
    width: 90%;
    /* color: #909090; */
    /* // padding: 40px; */
  }
}

/* mobile mockups animation */
.mobile-main-container {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
}

.mobile-gallery {
  width: 100%;
}

.mobile-gallery-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 450px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mobile-gallery-item {
  height: 320px;
  width: 10.5rem;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  border-radius: 10px;
  background-size: contain !important;
}

.mobile-gallery-item-1 {
  left: 23.5%;
  opacity: 1;
  transform: translateX(-50%);
  top: 8%;
}

.mobile-gallery-item-2,
.mobile-gallery-item-4 {
  height: 350px;
  width: 11rem;
  opacity: 1;
  z-index: 1;
}

.mobile-gallery-item-2 {
  left: 36%;
  transform: translateX(-50%);
  top: 15%;
}

.mobile-gallery-item-3 {
  box-shadow: none;
  height: 423px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 13rem;
  z-index: 2;
}

.mobile-gallery-item-4 {
  right: 36%;
  transform: translateX(50%);
  top: 8%;
}

.mobile-gallery-item-5 {
  right: 23.5%;
  opacity: 1;
  transform: translateX(50%);
  top: 22%;
}

.mobile-gallery-item-6 {
  left: 11.6%;
  opacity: 1;
  transform: translateX(-50%);
  top: 20%;
  z-index: 0;
  width: 10rem;
  height: 300px;
}

.mobile-gallery-item-7 {
  right: 11.6%;
  opacity: 1;
  transform: translateX(50%);
  top: 15%;
  z-index: 0;
  width: 10rem;
  height: 300px;
}

.mobile-gallery-item-exit {
  display: none !important;
  transition: display 4s ease-in-out, transform 4s ease-in-out;
  z-index: 0;
}

/* gallery controls */
.mobile-gallery-controls {
  display: none;
}
.mobile-control-btn {
  display: none;
}

@media (min-width: 1300px) and (max-width: 1367px) {
  .mobile-gallery-container {
    width: 80%;
  }
  .mobile-gallery-item-3 {
    box-shadow: none;
    height: 412px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    z-index: 2;
  }

  .mobile-gallery-item-1 {
    left: 10%;
    opacity: 1;
    transform: translateX(-50%);
    top: 28%;
  }

  .mobile-gallery-item-2 {
    left: 29.1%;
    transform: translateX(-50%);
  }

  .mobile-gallery-item-4 {
    right: 12%;
    transform: translateX(-50%);
  }

  .mobile-gallery-item-5 {
    right: -6%;
    opacity: 1;
    transform: translateX(-50%);
    top: 28%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .main {
    height: 65vh;
    position: relative;
  }

  .mask,
  .textBody {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #909090;
    font-size: 23px;
    line-height: 6px;
    cursor: default;
  }

  .main p {
    line-height: 40px;
    text-align: center;
  }

  .mobile-main-container {
    width: 100%;
    height: 500px;
  }
  .mobile-gallery-item {
    border-radius: 0;
  }
  .mobile-gallery-container {
    height: 500px;
  }
  .mobile-gallery-item-3 {
    box-shadow: none;
    height: 412px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    z-index: 2;
  }

  .mobile-gallery-item-1 {
    left: 10%;
    opacity: 1;
    transform: translateX(-50%);
    top: 35%;
  }

  .mobile-gallery-item-2 {
    left: 29.1%;
    transform: translateX(-50%);
  }

  .mobile-gallery-item-4 {
    right: 12%;
    transform: translateX(-50%);
  }

  .mobile-gallery-item-5 {
    right: -6%;
    opacity: 1;
    transform: translateX(-50%);
    top: 28%;
  }
}

@media (max-width: 600px) and (min-width: 768px) {
  .mobile-main-container {
    width: 100%;
    height: 300px;
  }
  .mobile-gallery-container {
    height: 300px;
  }
  .mobile-gallery-item-3 {
    box-shadow: none;
    height: 200px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
    z-index: 2;
  }

  .mobile-gallery-item-1 {
    left: -100%;
    opacity: 1;
    transform: translateX(-50%);
    top: 35%;
  }

  .mobile-gallery-item-2 {
    left: 220%;
    transform: translateX(-50%);
  }

  .mobile-gallery-item-4 {
    left: 210%;
    transform: translateX(-50%);
  }

  .mobile-gallery-item-5 {
    left: 222%;
    opacity: 1;
    transform: translateX(-50%);
    top: 38%;
  }
}

/* orbitting animation */
.mockup-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 318px;
  /* height: 646px; */
  margin: 0 auto;
}

.mockup-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  animation: fadeCycle 16s linear infinite;
}

/* Stagger each image by 4s */
.mockup-container img:nth-child(1) {
  animation-delay: 0s;
}
.mockup-container img:nth-child(2) {
  animation-delay: 4s;
}
.mockup-container img:nth-child(3) {
  animation-delay: 8s;
}
.mockup-container img:nth-child(4) {
  animation-delay: 12s;
}

/* Keyframes for fading */
@keyframes fadeCycle {
  0%,
  5% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

.red-shadow {
  box-shadow: #f40e00 0px 0px 30px 0px;
}

.mobile-app-dev-glow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10px; /* Thickness of the glow line */
  background: transparent;
}

.mobile-app-dev-glow::after {
  content: "";
  position: absolute;
  top: 0px; /* How far the glow spreads above the line */
  left: 0;
  width: 100%;
  height: 80px; /* Height of glow effect */
  /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  ); */
  background: linear-gradient(
    to bottom,
    rgba(150, 141, 141, 0.7),
    rgba(255, 255, 255, 0)
  );
  /* filter: blur(0px); */
  opacity: 1;
  pointer-events: none;
}
