.real-estate-cta {
  background: hsla(0, 0%, 13%, 1);

  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 13%, 1) 20%,
    /* Black at the top */ hsla(0, 0%, 53%, 1) 100% /* Gray at the bottom */
  );

  background: -moz-linear-gradient(
    to bottom,
    hsla(0, 0%, 13%, 1) 20%,
    /* Black at the top */ hsla(0, 0%, 53%, 1) 100% /* Gray at the bottom */
  );

  background: -webkit-linear-gradient(
    to bottom,
    hsla(0, 0%, 13%, 1) 20%,
    /* Black at the top */ hsla(0, 0%, 53%, 1) 100% /* Gray at the bottom */
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#212121", endColorstr="#878787", GradientType=0 );
}
