@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", serif !important;
  scroll-behavior: smooth;
}

body {
  @apply bg-[#fff];
  font-family: "Outfit", serif !important;
}

.red-text {
  @apply text-[#F40E00];
}

.red-bg {
  @apply bg-[#F40E00];
}

.padding-x {
  @apply px-2 md:px-8 lg:px-28 xl:px-[10%] 2xl:px-[13%];
}

.red-btn-shadow {
  box-shadow: #f40e0080 0px 8px 24px;
}
.red-btn-shadow:hover {
  box-shadow: #3d3d3d80 0px 8px 24px;
}

.red-btn {
  @apply bg-[#F40E00] text-white px-5 lg:px-10 py-4 md:py-6 2xl:py-8 font-bold rounded-xl flex items-center justify-center gap-2 text-sm lg:text-[22px] 2xl:text-[25px] hover:bg-[#000] transition-all duration-300;
}

.black-btn {
  @apply bg-[#000] text-white px-5 lg:px-10 py-6 2xl:py-8 font-bold rounded-xl flex items-center justify-center gap-2 text-sm lg:text-[22px] 2xl:text-[25px] hover:bg-[#e0443c] transition-all duration-300;
}

.section-heading {
  @apply text-[36px] lg:text-[85px] 2xl:text-[95px] font-bold 2xl:font-extrabold lg:tracking-tight leading-10 lg:leading-[95px] 2xl:leading-[105px];
}

.section-paragraph {
  @apply text-base lg:text-[24px] 2xl:text-[30px] font-light lg:leading-[36px] text-gray-400;
}

.custom-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f40e00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f40e00;
}

/* canvas {
  width: 100% !important;
  height: 100vh !important;
} */

.grayscale-img {
  /* filter: grayscale(1) !important; */
  aspect-ratio: 3/2 !important;
}

.shadow-bottom {
  box-shadow: 0 -40px -100px rgba(0, 0, 0, 0.9);
}

.workFlowImage {
  /* animation: animateSlide 1s ease-in-out forwards, */
  animation: floatUpDown 3s ease-in-out infinite alternate;
}

@keyframes animateSlide {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.custom-red-shadow {
  /* box-shadow: #f40e00 0px 7px 29px 0px; */
  filter: drop-shadow(0px 7px 29px #fc6058);
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.cardContainer:hover {
  /* cursor: url("/genetic-data-svgrepo-com.svg"), auto !important; */
  cursor: none !important;
}

/* Hide the number input arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
