/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: var(--font-outfit), serif !important; */
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 16px;
}

body {
  @apply bg-[#fff];
  font-family: var(--font-outfit), serif !important;
}

.red-text {
  @apply text-[#F40E00];
}

.red-bg {
  @apply bg-[#F40E00];
}

.padding-x {
  @apply px-6 md:px-8 midlg:px-[10%] 2xl:px-[13%];
}

.red-btn-shadow {
  box-shadow: #f40e0080 0px 8px 24px;
}
.red-btn-shadow:hover {
  box-shadow: #3d3d3d80 0px 8px 24px;
}

.red-btn {
  @apply bg-[#F40E00] text-white px-5 lg:px-10 py-4 lg:py-6 2xl:py-8 font-bold rounded-xl flex items-center justify-center gap-2 text-sm lg:text-[22px] 2xl:text-[25px] hover:bg-[#000] transition-all duration-300;
}

.black-btn {
  @apply bg-[#000] text-white px-5 lg:px-10 py-6 2xl:py-8 font-bold rounded-xl flex items-center justify-center gap-2 text-sm lg:text-[22px] 2xl:text-[25px] hover:bg-[#e0443c] transition-all duration-300;
}

.section-heading {
  @apply text-[8.6vw] md:text-[5.5vw] font-bold 2xl:font-extrabold lg:tracking-tight leading-[1];
}

.section-paragraph {
  @apply text-base lg:text-[24px] 2xl:text-[30px] font-light lg:leading-[36px] text-gray-400;
}

.custom-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.red-shadow {
  box-shadow: #f40e001a 0px 8px 24px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f40e00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f40e00;
}

/* canvas {
  width: 100% !important;
  height: 100vh !important;
} */

.grayscale-img {
  /* filter: grayscale(1) !important; */
  aspect-ratio: 3/2 !important;
}

.shadow-bottom {
  box-shadow: 0 -40px -100px rgba(0, 0, 0, 0.9);
}

.workFlowImage {
  /* animation: animateSlide 1s ease-in-out forwards, */
  animation: floatUpDown 3s ease-in-out infinite alternate;
}

@keyframes animateSlide {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.custom-red-shadow {
  /* box-shadow: #f40e00 0px 7px 29px 0px; */
  filter: drop-shadow(0px 7px 29px #fc6058);
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.cardContainer:hover {
  /* cursor: url("/genetic-data-svgrepo-com.svg"), auto !important; */
  cursor: none !important;
}

/* Hide the number input arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes scroll {
  /* 0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  } */
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-footer {
  animation: scroll 60s linear infinite;
}

.benefit-section::-webkit-scrollbar {
  /* display: none; */
  width: 100%;
  height: 7px;
  margin-top: 5px;
}

/* Track */
.benefit-section::-webkit-scrollbar-track {
  background: #dcdcdc;
}

/* Handle */
.benefit-section::-webkit-scrollbar-thumb {
  background: #727272;
}

/* Handle on hover */
.benefit-section::-webkit-scrollbar-thumb:hover {
  background: #727272;
}

/* .wp-block-list {
  margin: 10px 0px 30px 0 !important;
} */

.cube-slide {
  background-color: transparent !important;
  border-radius: 35px !important;
  background-color: white !important;
}

/* .swiper-slide-shadow-coverflow {
  box-shadow: none !important;
  background-color: white !important;
} */

.swiper-slide-shadow-right,
.swiper-slide-shadow-left {
  background-image: none !important;
}

.userflow-container::-webkit-scrollbar {
  height: 8px;
}

.userflow-container::-webkit-scrollbar-thumb {
  background: #212121;
  width: 150px !important;
}

.userflow-container::-webkit-scrollbar-track {
  background-color: #c7c7c7;
}

.service-heading {
  font-size: clamp(22px, 26px, 28px);
}

.new-service-card-cta-bg {
  background: linear-gradient(to bottom left, #c04db2, #d696df);
}
